.contact-wrapper {
  min-height: 60vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 40px 20px;
  margin-top: -20px;
  margin-left: -10px;
}

.contact-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  /* box-shadow: 0 10px 30px rgba(0,0,0,0.1); */
  overflow: hidden;
  flex-wrap: wrap;
}

/* Left Info Panel */
.contact-info {
  flex: 1;
  /* background: #1e3a8a; */
  color: rgb(0, 0, 0);
  padding: 40px;
  min-width: 300px;
}

.contact-info h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-info h2 span {
  color: #D87D4A;
}

.contact-info hr {
  width: 50px;
  margin-left: 4%;
}

.contact-info h3 {
  color: #D87D4A;
}

.contact-info p {
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 22px;
}

.info-block {
  display: flex;
  align-items: center;
  gap: 10px; /* FIX: adds spacing between icon and text */
  margin-bottom: 18px;
}

.info-block i {
  font-size: 18px;
  color: #38bdf8;
}

.info-block a,
.info-block span {
  font-size: 15px;
  color: #000;
  text-decoration: none;
  word-break: break-word; /* prevents overflow */
}

.socials i {
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.socials i:hover {
  color: #38bdf8;
}

/* Right Form Panel */
.contact-form {
  flex: 1.2;
  padding: 40px;
  min-width: 300px;
}

.contact-form h3 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #1e293b;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.contact-form button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color:#D87D4A;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-info {
    padding: 30px 20px;
  }
  .contact-form
  {
    margin-left: -30px;
  }

}

.map-section {
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
  padding: 20px;
}


.map-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 10%;
  margin-top: -17%;
}

.map-card {
  border-radius: 16px;
  overflow: hidden;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.map-card iframe {
  border: none;
  width: 100%;
  height: 350px;
}

.traveller
{
  width: 150px;
  margin-left: -8%;
  margin-top: -10px;
}
.map-animation
{
  cursor: pointer;
}
