.display {
  position: fixed;
  bottom: 40px;
  right: 30px;
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 15px; /* spacing between icons */
  z-index: 100;
}

/* Adjust button positions */
.whatsapp_float,
.call_float {
  position: static; /* remove fixed so they follow parent flex layout */
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lottie Animation size */

.h1 {
  width: 100px;
  height: 50px;
}

.h 
{
  width: 50px;
  height: 50px;
}

/* Mobile view */
@media screen and (max-width: 767px) {
  .display {
    bottom: 20px;
    right: 15px;
    gap: 10px;
  }

  .whatsapp_float,
  .call_float {
    width: 50px;
    height: 50px;
  }

  .h{
  width: 50px;
  height: 50px;
}

  .h1 {
    width: 120px;
    height: 50px;
  }
}
