.download-container {
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fdfafa;
  border-radius: 12px;
  text-align: center;
}

/* Headings */
.download-title {
  font-size: 2.5rem;
  color: #222;
  
}

.download-subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

/* Flex layout */
.download-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

/* Wrapper */
.c {
  display: flex;
  justify-content: center;
}

/* Button Card */
.download-btn {
  background-color: #D87D4A;
  color: #fff;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(216, 125, 74, 0.3);
}

/* Lottie icon box */
.lottie-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  display: flex;
}

/* Scale Lottie animation */
.lottie-icon canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Hover Effects */
.download-btn:hover {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
  transform: translateY(-3px);
}

.download-btn:active {
  transform: translateY(1px);
}
