.slider-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

/* Card design */
.team-card {
  width: 320px;
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;

}

.card-top {
  background: #fdfafa;
  padding: 40px 0 70px;
  position: relative;
}

.card-top img {
  width: 100%;
  height: 120%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.card-content {
  padding: 70px 20px 30px;
}

.card-content h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.card-content p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

.card-content button {
  padding: 10px 22px;
  background: #D87D4A;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}
.card-content button:hover {
  background: #ffffff;
  border: 1px solid black;
  color: black;
}

/* Dots */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #fdfafa;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #D87D4A;
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 600px) {
  .team-card {
    width: 100%;
  }
}
